<p>You're one-time passcode. Do not share this with anyone.</p>
<p style="font-weight: 900"><%= passcode %></p>
<p>
  This code will expire in <%= expire %> minutes. We hope you enjoy using
  Parabl.
</p>
